body
  margin: 0
  padding: 0
  background-color: red
  background-image: url('assets/img/scr.png')
  background-size: cover
  background-repeat: no-repeat
  min-width: 100vw
  min-height: 100vh

.test-image
  width: 100px
  height: 100px
