doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
  body
    #app
    footer.footer#footer
      span.copyright ® Wasya1212 2020. All rights reserved
      span.created-by designed & provided by Wasya1212
